.comments-area
  .comment-respond

    h3.comment-reply-title
      | Добавить комментарий

    .commentlist
      .comment
        article.comment-body
          footer.comment-meta
            div.comment-author
              img.avatar(src="http://0.gravatar.com/avatar/ce38a79c5aae25528191bb68455a48e1?s=50&amp;d=monsterid&amp;r=g")
              b.fn Александр<span class="says">:<span>

            div.comment-metadata
              a(href="http://uzinok.ru/js_demo/kot-murzik-na-css/#comment-12")
                time  23.12.2019 в 18:36
                
            em.comment-awaiting-moderation Ваш комментарий ожидает одобрения. Это его предварительный просмотр, комментарий станет видимым для всех после одобрения.
          div.comment-content
            p Привет

      .comment
        article.comment-body
          footer.comment-meta
            div.comment-author
              img.avatar(src="http://0.gravatar.com/avatar/ce38a79c5aae25528191bb68455a48e1?s=50&amp;d=monsterid&amp;r=g")
              b.fn Александр<span class="says">:<span>

            div.comment-metadata
              a(href="http://uzinok.ru/js_demo/kot-murzik-na-css/#comment-12")
                time  23.12.2019 в 18:36
                
          div.comment-content
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.

    form.comment-form
      p.comment-notes
        span
          | Ваш e-mail не будет опубликован.
        |  Обязательные поля помечены
        span.required
          |  *
      
      p.comment-form-comment
        label(for="comment")
          | Комментарий
        textarea#comment(name="comment")

      p.comment-form-author
        label(for="author")
          | Имя
          span.required
            |  *
        input#author(type="text")

      p.comment-form-email
        label(for="email")
          | Email
          span.required
              |  *
        input#email(type="email")

      p.comment-form-url
        label(for="url")
          | Сайт
          span.required
              |  *
        input#url(type="email")

      p.form-submit
        input(type="submit", class="submit", value="Отправить комментарий")