footer
  .wrap

    a.block-logo(href="#")
        svg.block-logo__svg(width="60", height="60")
          use(xlink:href="#logo")
        span.block-logo__name Записки верстальщика
    
    p Copyright © 2019