header
  .wrap

    a.block-logo(href="#")
        +logo()
        span.block-logo__name Записки верстальщика

    nav.nav.nojs.nav-close

      button.nav-button(aria-label="открыть меню")

      ul.nav__list
        li.nav__item
          a(href="index.html") page
        li.nav__item
          a(href="category.html") category
        li.nav__item
          a(href="404.html") 404 page
