.wrap--aside {
  position: relative;
  display: block;
  padding-top: 80px;

  &:before {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid @color-border-light;
    position: absolute;
    top: 40px;
    left: 0;
  }

  &>div {
    margin: 0 auto;
    max-width: 320px;
  }

  @media (min-width: @min-md) {
    width: 250px;
    flex-shrink: 0;
    padding-top: 0;

    &:before {
      display: none;
    }
  }

  & ul {
    counter-reset: myCounter;

    & li {
      position: relative;
      padding: 0 0 5px 1em;

      &::before {
        counter-increment: myCounter;
        content: counter(myCounter);
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .list-rezet
  }
}

.screen-reader-text {
  .visually-hidden
}

.widgettitle {
  border-bottom: 1px solid @color-border-light;
  padding: 20px 0 10px;
  margin: 0 0 15px;
  font-size: 22px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #404040;
  text-align: center;

  @media (min-width: @min-md) {
    text-align: left;
  }
}

.searchform {
  & input[type="text"] {
    margin-bottom: 15px;
  }
}

.calendar_wrap {

  & table {
    width: 100%;
  }

  & td,
  & th {
    padding: 2px 4px;
    font-size: 18px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
  }

  & td {
    font-weight: 300;
    text-align: center;
  }

  & th {
    font-weight: 400;
  }
}

.tagcloud {
  text-align: center;

  & a {
    display: inline-block;
    margin: 0 10px 0 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    white-space: nowrap;
  }

  @media (min-width: @min-md) {
    text-align: left;
  }
}