.content--card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    box-sizing: border-box;
    
    @media (min-width: @min-md) {
        padding: 0 10px;
        width: 50%;

        &:nth-child(odd) {
            padding-left: 0;
        }

        &:nth-child(even) {
            padding-right: 0;
        }

        &:last-child {
            padding: 0;
        }
    }
}