.content--card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;

    &:nth-child(odd) {
        padding-left: 0;
    }

    &:nth-child(even) {
        padding-right: 0;
    }

    &:last-child {
        padding: 0;
    }
}