extends templates/template.pug

block variables
  - var pageTitle = "404"

block main

  main

    +title("Error - 404!", "Ошибка!!! Нет такой страницы. Проверь ссылку или воспользуйтесь поиском.")

    .wrap.wrap--main


      .content.content--card

        .card

          .cat

            .cat__head
              .ear.ear--left
              .ear.ear--right

              .eye.eye--left
                .eyeball
              .eye.eye--right
                .eyeball

              .moustache.moustache--left
              .moustache.moustache--right

              .mouth

        .card
          h3.text-center Мурзик хочет что бы ты нашел нужную страницу в поиске или в меню сайта
