extends templates/template.pug

block variables
  - var pageTitle = "404"

block main

  main

    +title("Error - 404!", "Ошибка!!! нет такой страницы. проверьте URL или воспользуйтесь поиском.")

  //-   include templates/aside.pug

  //- include templates/footer.pug