extends templates/template.pug

block variables
  - var pageTitle = "404"

block main

  main

    +title("Error - 404!", "Ошибка!!! нет такой страницы. проверьте URL или воспользуйтесь поиском.")

    .wrap.wrap--main
      .content
        p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Собрал то путь продолжил, бросил взобравшись рекламных снова, подпоясал встретил жизни пунктуация это большой власти? Которой по всей всемогущая знаках языкового?
      include templates/aside.pug
 