extends templates/template.pug

block variables
  - var pageTitle = "category"

block main

  include templates/header.pug
  
  main

    +title("SVG-шки", "Всякие плюшки приколюшки на SVG. Практически все демки должны работать во всех браузерах.")

  //-   include templates/aside.pug

  //- include templates/footer.pug
  