extends templates/template.pug

block variables
  - var pageTitle = "category"

block main

  include templates/header.pug
  
  main

    include templates/aside.pug

  include templates/footer.pug
  