extends templates/template.pug

block variables
  - var pageTitle = "category"

block main

  main

    +title("SVG-шки", "Всякие плюшки приколюшки на SVG. Практически все демки должны работать во всех браузерах.")

    .wrap.wrap--main
      .content.content--card

        .card
          h2.card__title
            a(href="#")
              | Патерны в SVG

          p.card__text Вот как можно разукрасить SVG с помощью pattern. Сложного ничего нет. В svg в defs добавляем тэг pattern с необходимыми атрибутами и path и видим такую штуку: Тэг mask поставил для наглядности и показать еще возможность скрыть или закрасить часть SVG другим способом или цветом))

          p.section-tags
            a(href="#") svg demo

        .card
          h2.card__title
            a(href="#")
              | Грузовик

          p.card__text Едущий грузовичок. HTML CSS

          p.section-tags
            a(href="#") css demo
            | /
            a(href="#") svg demo
            | /
            a(href="#") анимация CSS

        .card
          h2.card__title
            a(href="#")
              | Милый котик на SVG

          p.card__text Мой первый рисунок на SVG. Он конечно очень простой, но это первый рисунок который я сам нарисовал на SVG и анимировал с помощью CSS, а в дальнейшем и с помощью JS. Но анимация этого кота на JS будет в соответствующем разделе Как то раз захотел просто научиться хоть немного рисовать на SVG и у меня…

          p.section-tags
            a(href="#") css demo
            | /
            a(href="#") svg demo
            | /
            a(href="#") анимация CSS

      include templates/aside.pug
 
  