extends templates/template.pug

block variables
  //- переменная для template.pug
  - var pageTitle = "page"


block main

  main

    +title("Звездное небо на canvas", "")

    .wrap.wrap--main
      .content

        h2 Заголовок

        h3 Заголовок

        h4 Заголовок

        p Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Все продолжил рукописи имени власти жизни за щеке по всей даль? Далеко-далеко за словесными горами в 
          a(href="#" target="_blank") стране
          |  гласных и 
          a(href="#5467" target="_blank") согласных
          |  живут рыбные тексты. Собрал то путь продолжил, бросил взобравшись рекламных снова, подпоясал встретил жизни пунктуация это большой власти? Которой по всей всемогущая знаках языкового?

        .video.nojs
          a.video__link(href="https://youtu.be/VL8SsvSro7U" target="_blank")
            img.video__media(src="https://i.ytimg.com/vi/VL8SsvSro7U/maxresdefault.jpg" alt="#")
          button.video__button(aria-label="Запустить видео")
            svg(height="100%" version="1.1" viewBox="0 0 68 48" width="100%")
              path.video__case(d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z")
              path(d="M 45,24 27,14 27,34" fill="#fff")

        p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Буквоград диких языкового сих предупреждал рукопись инициал образ пояс коварный скатился. Текстами не оксмокс имеет путь одна свой рукопись снова инициал необходимыми повстречался сих, вскоре, своих рукописи пустился? Предупреждал букв предложения взгляд правилами, текстами lorem то. Вершину пустился дорогу первую! Далеко-далеко за словесными горами в 
          a(href="#" target="_blank") стране
          |  гласных и 
          a(href="#dfd") согласных
          |  живут рыбные тексты. Собрал то путь продолжил, бросил взобравшись рекламных снова, подпоясал встретил жизни пунктуация это большой власти? Которой по всей всемогущая знаках языкового?

        figure
          img(src="img/img.jpg" alt="#")
          figcaption это картинка для примера

        p Далеко-далеко за словесными горами в 
          a(href="#") стране
          |  гласных и 
          a(href="#dfd") согласных
          |  живут рыбные тексты. Собрал то путь продолжил, бросил взобравшись рекламных снова, подпоясал встретил жизни пунктуация это большой власти? Которой по всей всемогущая знаках языкового?

        a(href="#" target="_blank").bright demo

        include templates/comments.pug


      include templates/aside.pug
  