extends templates/template.pug

block variables
  //- переменная для template.pug
  - var pageTitle = "page"


block main

  include templates/header.pug
  
  main

    +title("Звездное небо на canvas", "")

    //- include templates/aside.pug

  //- include templates/footer.pug
  