// colors
@color-dark: #404040;

// @media
// min-width/max-width
@max-sm: 575px;
@min-sm: 576px;

@max-md: 758px;
@min-md: 757px;

@max-lg: 1024px;
@min-lg: 1025px;

@max-xl: 1200px;
@min-xl: 1201px;

@min-xxl: 1920px;

// transition
@transition: 0.15s;